.button {
  background-color: #e74111;
  color: white;
  text-decoration: none;
  padding: (34px /4) (60px /4) (38px /4);
  font-size: (40px /4);
  letter-spacing: (2px /4);
  line-height: (46px /4);
  display: inline-block;

  @include breakpoint($three) {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 18px;
    padding: 16px 52px;
  }
}

.button-hollow {
  background: none;
  border: 2px solid #e74111;
  color: #e74111;
}

.button-white {
  background: white;
  color: #102030;
}
