.clearfix {
  content: "";
  display: table;
  clear: both;
}

.grid {
  height: 100%;
  padding: 0 (51px /4);
  box-sizing: border-box;
  max-width: $three;
  @include breakpoint($five) {
    max-width: $four;
  }

  @include breakpoint($six) {
    max-width: $six;
  }

  @include breakpoint($seven) {
    max-width: $seven;
  }

  margin: 0 auto;
}

html {
  text-align: center;
  color: #102030;
}

html, body {
  overflow-x: hidden;
}

ul {
  text-align: left;
}

.highlight {
  color: #e74111;
}
