ul {
  list-style: none;
  li {
    font-size: (35px /4);
    font-weight: 400;
    line-height: (60px /4);
    padding-bottom: 10px;
  }
}

@include breakpoint($three) {
    ul {
      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
}

.check-list, .accordion {
  li {
    position: relative;
    padding-left: 10px;
    overflow: visible;

    &:before {
      content: '';
      width: (50px /4);
      height: (40px /4);
      background-image: url('img/check.png');
      background-size:cover;
      display: inline-block;
      position: absolute;
      left: -10px;
      top: 5px;
    }

    @include breakpoint ($three) {
      padding-left: 15px;
      &:before {
        background-size: contain;
        background-repeat:no-repeat;
        width: (50px /2);
        height: (40px /2);
        left: -20px;
      }
    }
  }

  p {
    line-height: (60px /4);
    font-weight: 300;
  }
}

.accordion {
  li {
    &:before {
      background-image: url('img/orange-check.png');
    }
  }
}
