.mobile-top-bar {
    background: linear-gradient(to bottom, #F0F0F0, #F8F8F8);
    text-align: center;
    padding: 20px 0 10px;
    font-size: 12px;
    @include breakpoint($two) {
      display: none;
    }
}

.mobile-logo {
  height: (102px /4);
  margin: (31px /3) auto (37px / 3) auto;
  display: block;
  @include breakpoint($three) {
    height: 59%;
    margin: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-menu {
  a, a:hover, a:visited, a:active {
    color: #102030;
    text-decoration: none;
  }

  .grid {
    position: relative;
  }

  ul {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  @include breakpoint($three) {
    position: fixed;
    width: 100%;
    background: white;
    text-align: left;
    z-index: 3;
    height: 67px;
    ul {
      display: inline-block;
      float: right;
    }
  }

  li {
    display: inline-block;
    padding: 0 3px;
    color: #102030;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.7px;
    padding: 0 10px;

    @include breakpoint($five) {
      font-size: 14px;
    }

    @include breakpoint($five) {
      padding: 0 10px;
    }
  }
}
