.slanted-section {
  padding-left: 10%;
  margin-left: -10%;
  padding-right: 10%;
  margin-right: -10%;
  transform: rotate(2.5deg);
  overflow: hidden;

  .inner {
    transform: rotate(-2.5deg);
    padding: 50px 0;
  }
}

.margin-bottom {
  margin-bottom: 40px;
}
