.accordion-section {
  @include breakpoint($one) {
    padding: 20px 0;
  }

  @include breakpoint($five) {
    padding: 58px 0;
  }

  .grid {
    > div:first-child {
      display: none;
      h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-right: 20px;
        margin-top: 18px;
      }
    }

    @include breakpoint($five) {
      width: 100%;
      content: "";
      display: table;
      clear: both;

      > div:first-child {
        display: block;
        text-align: right;
        @include grid-span(3,1);
      }
      > div:nth-child(2) {
        @include grid-span(9, 4);

        h2 {
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
        }
      }

    }

    @include breakpoint($six) {

      > div:first-child {
        h2 {
          font-size: 30px;
          font-weight: 400;
          line-height: 40px;
          margin-right: 20px;
          margin-top: 10px;
        }
      }

    }
  }

  ul {
    padding-left: 20px;
  }

  h3 {
    font-style: italic;
    font-weight: 300;
  }

  @include breakpoint($five) {
    h3 {
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
    }

    p, li {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }

    li {
      // line-height: 50px;
    }
  }
}
//end accordion-section

.minus, .tab-content {
  display: none;
}

.tab {
  border-bottom: 1px solid rgba(16,32,48,.2);
}

.tab-title {
  cursor: pointer;
  position: relative;
  width: 100%;
  @extend .clearfix;
  padding: (75px /4) 0;
  h2 {
    float: left;
    // font-size: (40px /4);
    font-size: 15px;
    font-weight: 400;
    line-height: (42.83px /4);
  }
}

.plus, .minus {
  position: absolute;
  right: 0;
  top: 15px;
  @extend .clearfix;
}

.tab-content {
  text-align: left;
}

.tab-section {
  margin-bottom: 35px;
}
