.contact {
  background-image: url('img/contact-bg.jpg');
  background-size: cover;
  color: white;
  margin-bottom: -20px;

  h2 {
    font-size: (60px /4);
    font-weight: 700;
    letter-spacing: (3px /4);
    line-height: (71px /4);
  }

  form {
    background: white;
    overflow-x: hidden;
    padding: 5px (37px /4) 10px;
    box-sizing: border-box;
    margin-top: (141px /4);
    position: relative;

    .input {
      width: 100%;
    }

    .input, .captcha {
      border: none;
      font-style: italic;
      font-size: (40px /4);
      line-height: (150px /4);
      outline: none;
      border-bottom: 1px solid rgba(16,32,48,.2);
    }

    .captcha {
      float: left;
    }

    .submit {
      float: right;
      background-color: #d8dde5;
      border: none;
      color: white;
      font-size: (40px /4);
      font-weight: 400;
      letter-spacing: (2px /4);
      line-height: (46px /4);
      padding: (37px /4) (113px /4);
      position: absolute;
      bottom: 10px;
      right: 7px;
    }
  }
  section:first-child {
    display: none;
  }

  @include breakpoint($five) {
    padding: (175px /4) 0 (200px /2);
    margin-bottom: -40px;

    section:first-child {
      display:block;
      @include grid-span(5.5,1);
      text-align: left;

      h2 {
        font-size: 20px;
        letter-spacing: 1.5px;
        line-height: 35px;
        margin-top: 10px;
      }

      p {
        font-size: 14px;
        line-height: 25px;
      }

      .contact-info {
        margin-top: 20px;
      }
    }

    section:last-child {
      @include grid-span(6,7);
      > h2 {
        display: none;
      }
      form {
        margin-top: 0;
      }

      textarea {
        height: 200px;
      }
      .contact-info {
        display: none;
      }
    }
  }

  @include breakpoint($six) {
    section:first-child {
      h2 {
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 35px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
      }

      li {
        font-size: 20px;
        line-height: 40px;
        img {
          width: 19px;
        }
      }
    }
  }
}
//end .contact

.contact-info {
  color: #96c6ff;
  padding: 0;
  margin: (117px /4) 0 0;
  display: inline-block;

  li {
    font-size: (62px /4);
    font-weight: 400;
    line-height: (130px /4);
  }

  img {
    width: (50px /4);
    padding-right: (49px /4);
  }
}
