.cube-wrapper {
	perspective: 800px;
  display: block;
	// perspective-origin: 50% 100px;
  position:relative;
  display: none;
}

$cube-size: 125px;

.cube {
  margin: 0 auto;
	position: relative;
	width: $cube-size;
	transform-style: preserve-3d;
  transform: rotateX(25deg) rotateY(145deg) rotateZ(5deg);
  position: relative;

  div {
  	position: absolute;
  	width: $cube-size;
  	height: $cube-size;
  }

  p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }

  .back {
  	transform: translateZ(-100px) rotateY(180deg);
    background-image: linear-gradient(to top left, #102030, #4b5763);
  }
  .right {
  	transform: rotateY(-270deg) translateX(100px);
  	transform-origin: top right;
  }
  .left {
  	transform: rotateY(270deg) translateX(-100px);
  	transform-origin: center left;
    background-image: linear-gradient(to bottom right, #9facbd, #8393aa);
  }
  .top {
  	transform: rotateX(-90deg) translateY(-100px);
  	transform-origin: top center;
  }
  .bottom {
  	transform: rotateX(-90deg) translateY(100px);
  	transform-origin: bottom center;
    background-image: linear-gradient(to top right, #ef7d00, #904b00);
  }
  .front {
  	transform: translateZ(100px);
  }
}
