.features {
  padding-top: (108px /4);
  h2 {
    font-size: (60px /4);
    font-weight: (700 /4);
    letter-spacing: (3px /4);
    line-height: (71px /4);
  }

  p {
    color: #7c8ea6;
    font-size: (40px /4);
    font-weight: 400;
    letter-spacing: (2.5px /4);
    line-height: (45px /4);
  }

  .circle {
    border-radius: 50%;
    width: (216px /4);
    height: (216px /4);
    position: relative;
    margin: 0 auto;
    margin-bottom: (78px /4);
  }

  ul {
    padding: 0;
    text-align: center;
    margin-top: (83px /4);
  }

  li {
    display: inline-block;
    width: 24%;
    position: relative;
    vertical-align: top;

    p {
      display: none;
    }
  }

  h3 {
    color: #102030;
    font-size: (40px /4);
    font-weight: 700;
    line-height: (47px /4);
    white-space: pre-wrap;
    word-wrap: break-word;
    width: (210px /4);
    margin: 0 auto;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li:first-child {
    .circle {
      background-color: #EF7B0A;
      background-color: linear-gradient(to right, #EF7B0A, #ED7103);
    }
  }

  li:nth-child(2) {
    .circle {
      background-color: #EC6C04;
      background-color: linear-gradient(to right, #EC6C04, #EB6107);
    }
  }

  li:nth-child(3) {
    .circle {
      background-color: #EB5D09;
      background-color: linear-gradient(to right, #EB5D09, #E9510C);
    }
  }

  li:nth-child(4) {
    .circle {
      background-color: #EB5D09;
      background-color: linear-gradient(to right, #EB5D09, #E74111);
    }
  }

  .vertnetzt-icon {
    width: (81px /4);
  }
  .dynamisch-icon {
    width: (109px /4);
  }
  .ergebnis-icon {
    width: (92px /4);
  }
  .lightbulb-icon {
    width: (99px /4);
  }

  @include breakpoint($three) {
    padding: (108px /2) 0;

    ul {
      margin-top: (83px /2);
    }

    .circle {
      width: 108px;
      height: 108px;
    }

    .vertnetzt-icon {
      width: (81px /2);
    }
    .dynamisch-icon {
      width: (109px /2);
    }
    .ergebnis-icon {
      width: (92px /2);
    }
    .lightbulb-icon {
      width: (99px /2);
    }

    p {
      font-size: 12px;
      letter-spacing: (2.5px /3);
      line-height: 10px;
      margin-top: 6px;
    }

    h2 {
      font-size: (60px /3);
      font-weight: (700 /3);
      letter-spacing: (3px /3);
      line-height: 35px;
    }

    h3 {
      color: #102030;
      font-size: (40px /3);
      line-height: (47px /3);
      width: (210px /3);
    }
  }

  @include breakpoint($five) {
    h3 {
      width: auto;
    }

    h2 {
      font-size: (60px /2);
      font-weight: (700 /2);
      letter-spacing: (3px /2);
      line-height: 35px;
    }

    h3 {
      color: #102030;
      font-size: (40px /2);
      line-height: (47px /2);
    }

    p {
      letter-spacing: (2.5px /2);
      line-height: 18px;
      margin-top: 6px;
    }

    .title {
      p {
        font-size: 16px;
      }
    }

    li p {
      // display: block;
      padding: 0 5px;
      box-sizing: border-box;
    }
  }

  @include breakpoint($six) {
    li p {
      display: block;
    }
  }
}
