footer {
  background-color: #102030;
  color: white;
  font-size: (40px /4);
  font-weight: 400;
  line-height: (60px /4);
  position: relative;
  @extend .clearfix;
  width: 100%;

  a, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: (52px /4) 0;
  }
}

.footer-menu {
  display: none;
}

@include breakpoint($five) {
  footer {

    p, li {
      text-align: left;
      font-size: 16px;
      line-height: 30px;
    }

   .footer-menu li, .footer-menu {
      display: inline-block;
    }

    p {
      float: left;
    }

    .footer-menu {
      float: right;
      li {
        padding: 0 5px;

        &:last-child {
          padding-left: 30px;
        }
      }
    }
  }
}
