header {
  background-image: url('img/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;

  h1 {
    font-size: (145px / 4);
    font-weight: 700;
    display: block;
    padding-top: (168px /4);
  }

  p {
    font-size: (42px /4);
  }

  .title {
    position: relative;
  }

  @include breakpoint($three) {
    margin-top: 67px;
    text-align: left;

    p {
      margin: 0;
    }

    .title {
      position: absolute;
      left: 46%;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  @include breakpoint($six) {
    .title {
      h1 {
        padding-top: 0;
        font-size: 60px;
      }

      p {
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0.13px;
        line-height: 40px;
      }
    }
  }
}

.cube-png {
	margin-top: 50px;
  position: relative;
  width: 75%;
  max-width: 300px;
  @include breakpoint($three) {
    display: inline-block;
    max-width: 46%;
  }
}

.texture {
  margin-bottom: -6%;
  margin-top: -12.5%;
  height: 100px;
  @include breakpoint($one) {
    height: 100px;
    margin-bottom: -30px;
    margin-top: -70px;
  }

  @include breakpoint($three) {
    height: 150px;
    margin-bottom: -30px;
  }

  @include breakpoint($six) {
    height: 150px;
    margin-bottom: -30px;
    margin-top: -100px;
  }
}
