.map {
  height: (1300px /4);
  margin-left: -15%;
  margin-right: -15%;
  margin-bottom: -30px;

  .inner {
    padding-top: 0;
    margin-top: -30px;
    height: 110%;
  }

  @include breakpoint($three) {
    height: (1200px /3);
  }
  @include breakpoint($seven) {
    height: (1200px /2.5);
  }
}

#map-inner {
  height: 100%;
}
