.orange {
  background-color: #e74111;
  background-image: linear-gradient(to right, #ef7d00 0%, #e74111 100%);
  color: white;

  h2 {
    font-size: (100px /4);
    font-weight: 700;
    letter-spacing: (5px /4);
    line-height: (118px /4);
  }

  p {
    font-size: (40px /4);
    font-weight: 400;
    line-height: (80px /4);
    margin-bottom: (80px /4);
  }

  .cube-hand {
    display: none;
  }

  .text {
    max-width: 450px;
    margin: 0 auto;
  }

  @include breakpoint($three) {

    h2 {
      font-size: 50px;
      letter-spacing: 2.5px;
      line-height: 59px;
    }

    p {
      font-size: (40px /3);
      line-height: (80px /3);
      margin-bottom: (80px /3);
    }
  }

  @include breakpoint($six) {

    .text {
      max-width: none;
      width: 50%;
      margin: 0;
      margin-right: 5%;
      text-align: left;
    }

    .cube-hand {
      display: inline-block;
      width: 45%;
      margin-top: -55px;
      margin-bottom: -20px;
    }

    .text, .cube-hand {
      float: left;
    }
  }

  @include breakpoint($seven) {

    .text {
      margin-top: 0px;
    }

    .cube-hand {
      margin-bottom: -30px;
    }

  }
}
