.posts-section {
  margin-bottom: (109px /4);
  h2 {
    font-size: (60px /4);
    font-weight: 700;
    letter-spacing: (3px /4);
    line-height: (71px /4);
  }

  p {
    font-size: (35px /4);
    font-weight: 400;
    letter-spacing: (1px /4);
    line-height: (60px /4);
    width: (1000px /4);
    margin: (37px /4) auto;
    color: #7c8ea6;
  }

  @include breakpoint($three) {

    .grid {
      padding: 30px 0 20px;
    }

    h2 {
      font-size: (60px /3);
      letter-spacing: (3px /3);
      line-height: (71px /3);
    }

    p {
      font-size: (35px /3);
      letter-spacing: (1px /3);
      line-height: (60px /3);
      width: (1000px /3);
      margin: (37px /3) auto;
    }
  }

  @include breakpoint($four) {

    .grid {
      padding: 40px 0 10px;
    }

    h2 {
      br {
        display: none;
      }
    }
  }

  @include breakpoint($five) {

    .grid {
      padding: 60px 0 20px;
    }

    h2 {
      font-size: (60px /2);
      letter-spacing: (3px 23);
      line-height: (71px /2);
    }

    p {
      width: 700px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 28px;
    }
  }

  @include breakpoint($six) {
    p {
      width: 800px;
    }
  }

  @include breakpoint($seven) {
    p {
      width: 1000px;
    }
  }
}

.slider {

  @media (max-width: 650px) {
    display: block !important;
    height: 300px;
    width: 800px;
    overflow: auto;
    white-space: nowrap;
    // @extend .clearfix;
  }

  .owl-controls {
    .owl-buttons {
      div {
        background: none;
        width: 50px;
        @include breakpoint($six) {
          width: 85px;
        }
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .owl-prev {
        left: -15px;
      }

      .owl-next {
        right: -15px;
        transform: translateY(-50%) rotate(180deg);
      }

    }
  }
}

.post {
  float: left;
  position: relative;
  width: (780px /4);
  height: (600px /4);
  position: relative;
  white-space: normal;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    color: white;
    font-size: (80px /4);
    font-weight: 700;
    letter-spacing: (5px /4);
    line-height: (94px /4);
  }

  p {
    color: white;
    font-weight: 700;
  }
}

.wide-post {
  width: (1242px /4);
}

.inset-border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
}

.play-icon {
  width: (120px /4);
  height: (140px /4);
}

@include breakpoint($one) {
  .post {
    width: 390px;
    height: 300px;

    .title {
      width: 75%;
    }
  }

  .wide-post {
    width: 800px;
  }

  .inset-border {
    border: 5px solid white;
  }

  .post:first-child {
    .inset-border {
      border-left: none;
    }
  }

  .post:last-child {
    .inset-border {
      border-right: none;
    }
  }
}

@include breakpoint($three) {
  .post {
    img {
      width: 60px;
      height: 70px;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2.5px;
      line-height: 27px;
    }

    p {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 18px;
    }
  }
}

@include breakpoint($six) {
  .post {

    h2 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2.5px;
      line-height: 47px;
    }

    p {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 18px;
    }
  }
}
