.sap-aus {
  background-image: url('img/river.jpg');
  background-size: cover;
  color: white;

  .grid {
    max-width: none;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: (80px /4);
    font-weight: 700;
    line-height: (90px /4);
  }

  p {
    font-size: (40px /4);
    font-weight: 700;
    line-height: (47px /4);
    margin-bottom: (106px /4);
  }

  .grid {
    padding: 0;
  }

  @include breakpoint($three) {
    .inner {
      padding: 75px 0;
    }

    .badge-container {
      margin-top: 50px;
    }

    h2 {
      width: auto;
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }

  @include breakpoint($six) {
    .inner {
      padding: 100px 0;
    }

    h2 {
      font-size: 50px;
      line-height: 59px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      margin: 5px 0;
    }
  }
}

.badge-container {
  white-space: nowrap;
  overflow-x:auto;
  padding: 0 25px;
  text-align: center;
}

.badge {
  position: relative;
  background-image: url('img/badge.png');
  background-size: cover;
  width: (780px /4);
  height: (919px /4);
  padding-top: 85px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 20px;
  &:first-child {
      margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  h3 {
    color: #e74111;
    font-size: (60px /4);
    font-weight: 700;
    letter-spacing: (4px /4);
    line-height: (71px /4);
  }

  p {
    font-size: (35px /4);
    font-weight: 400;
    line-height: (65px /4);
    letter-spacing: (1px /4);
    width: (500px /4);
    margin: 0 auto;
    color: black;
    margin-top: (34px /4);
    white-space: normal;
  }

  .icon {
    width: (115px /4);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .target-icon {
    top: 16px;
  }

  .handshake-icon {
    width: 35px;
    top: 22px;
  }

  @include breakpoint($three) {
    width: (390px /1.25);
    height: (342px /1.25);
    background-image: url('img/badge-bg-large.png');

    h3 {
      font-size: (60px /3);
      letter-spacing: (4px /3);
      line-height: (71px /3);
      margin-top: 15px;
    }

    p {
      font-size: (35px /3);
      line-height: (65px /3);
      letter-spacing: (1px /3);
      width: (500px /3);
      margin-top: (34px /3);
      width: 65%;
    }

    .icon {
      width: (115px /4);
      top: 22.5px;
    }

    .target-icon {
      top: 20px;
    }

    .handshake-icon {
      width: 35px;
      top: 27px;
    }
  }

  @include breakpoint($five) {
    width: (390px /1.15);
    height: (342px /1.15);
  }

  @include breakpoint($six) {
    width: (390px /1.05);
    height: (342px /1.05);

    h3 {
      margin-top: 30px;
    }

    p {
      font-size: 13px;
      letter-spacing: 0.87px;
      line-height: 24px;
    }

    .icon {
      width: 36px;
      top: 26px;
    }

    .target-icon {
      top: 23px;
    }

    .handshake-icon {
      width: 51px;
      top: 30px;
    }
  }

  @include breakpoint($seven) {
    width: 390px;
    height: 342px;
  }
}
