.social-icons {
  background-color: #102030;
  background-image: linear-gradient(to right, rgba(16, 32, 48, 0.3) 0%, rgba(124, 142, 166, 0.3) 100%);
  color: #7c8ea6;
  position: relative;

  h2 {
    font-size: (40px /4);
    font-weight: 400;
    letter-spacing: (2.5px /4);
    line-height: (45px /4);
    padding-top: (48px /4);
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;

    li {
      display: inline-block;
      padding-bottom: 0;
    }
  }

  img {
    max-height: (61px /4);
    padding: (65px /4) (103px /8);
  }

  @include breakpoint($three) {
    h2 {
      font-size: 12px;
    }

    img {
      max-height: 22px;
    }
  }
}
