.team {
  margin-top: -10px;
  margin-bottom: 35px;
  .inner, .grid {
    padding: 0;

    @include breakpoint($three) {
      padding: 15px 0 0;
    }
  }

  h2 {
    font-size: (60px /4);
    font-weight: 400;
    letter-spacing: (3.75px /4);
    line-height: (69px /4);
    color: #102030;
    @include breakpoint($three) {
      font-size: 16px;
    }
  }

  ul {
    margin: 0;
    padding: (97px /4) 0;
    white-space: nowrap;
    overflow-x: auto;
    @include breakpoint($three) {
      overflow-x: visible;
    }

    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  .mobile-only {
    .teammate {
      &:first-child {
        padding-left: 20px;
      }
      width: 35%;
      display: inline-block;

      @include breakpoint(450px) {
        width: 30%;
      }
    }
  }

  #owl-slider {
    padding: 40px 0;
    @media (max-width: $three) {
      display: none !important;
    }

    .owl-next, .owl-prev {
      position: absolute;
      background: none;
      width: 15px;
      top: 32%;
      transform: translateY(-50%);
      @include breakpoint($six) {
        top: 35%;
      }
    }

    .owl-next {
      right: -30px;
    }

    .owl-prev {
      left: -30px;
    }

    @include breakpoint($seven) {
      .owl-next {
        right: 0;
      }

      .owl-prev {
        left: 0;
      }
    }
  }

  .teammate {

    img {
      width: (280px /4);
      @include breakpoint($three) {
        width: 100px;
      }

      @include breakpoint($four) {
        width: 125px;
      }
      margin: 0 auto;
      display: block;
      margin-bottom: 15px;
    }

    h3 {
      color: #e74111;
      font-size: (50px /4);
      font-weight: 700;
      line-height: (59px /4);
    }

    p {
      color: #7c8ea6;
      font-size: (30px /4);
      font-weight: 400;
      line-height: (40px /4);
      margin: 3px 0;
      white-space: normal;
    }

    h3, p, img {
      text-align: center;
    }

    @include breakpoint($three) {
      h3 {
        font-size: 18px;
        line-height: 21px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  @include breakpoint($three) {
    .mobile-only {
      display: none;
    }
  }
}
