.vetrauen {
  background-image: url('img/lax.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  h2 {
    font-size: (80px /4);
    letter-spacing: (4px /4);
    line-height: (94px /4);
  }

  p {
    font-size: (40px /4);
    font-weight: 700;
    letter-spacing: (2.5px /4);
    line-height: (47px /4);
    margin: 0 0 (83px /4);
  }

  @include breakpoint($three) {
    h2 {
      font-size: (80px /3);
      letter-spacing: (4px /3);
      line-height: (94px /3);
    }

    p {
      font-size: (40px /3);
      font-weight: 700;
      letter-spacing: (2.5px /3);
      line-height: (47px /3);
      margin: 5px 0 (83px /3);
    }
  }

  @include breakpoint($five) {
    background-image: url('img/lax-desktop.jpg');
    padding: 30px 0;
    h2 {
      font-size: (80px /2);
      letter-spacing: (4px /2);
      line-height: (94px /2);
    }

    p {
      font-size: (40px /2);
      font-weight: 700;
      letter-spacing: (2.5px /2);
      line-height: (47px /2);
      margin: 5px 0 (83px /2);
    }
  }
}
