.was-wir {
  background-color: #e6e6e6;
  margin-bottom: 0;
  .inner {
    padding: 25px 0;
  }

  h2 {
    font-size: (60px /4);
    font-weight: 400;
    letter-spacing: (3px /4);
    line-height: (69px /4);

    @include breakpoint($three) {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1.5px;
      line-height: 35px;
    }
  }
}


.business-intelligence {
  margin-top: 0;
  color: white;
  padding: 0;

  .owl-buttons {
    @media (max-width: $three) {
      display: none !important;
    }

    div {
      background: none !important;
      position: absolute;
      width: 20px;
      @include breakpoint($six) {
        width: 25px;
      }
      top: 50%;
      transform: translateY(-50%);
    }

    .owl-prev {
      left: 90px;
    }

    .owl-next {
      right: 90px;
    }

    @include breakpoint($five) {
      .owl-prev {
        left: 120px;
      }

      .owl-next {
        right: 120px;
      }
    }

    @include breakpoint($seven) {
      .owl-prev {
        left: 150px;
      }

      .owl-next {
        right: 150px;
      }
    }
  }

  .owl-theme {
    .owl-controls {
      .owl-pagination {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint($four) {
          bottom: 125px;
        }
      }

      .owl-page {
        height: (28px /2);
        margin-top: (190px /4);
        span {
          width: (17px /2);
          height: (20px /2);
          background: none;
          background-image: url('img/inactive-hexa.png');
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 0;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .owl-page.active {
        span {
          width: (28px /2);
          height: (32px /2);
          background-image: url('img/active-hexa.png');
        }
      }
    }
  }

  .inner {
    height: 100%;
    margin-top: -20px;
    padding: 0;
  }

  .slide {
    padding: 100px 0 150px;
  }

  @include breakpoint($four) {
    .slide {
      padding: 150px 0 200px;
    }

    .inner {
      margin-top: -30px;
    }
  }

  @include breakpoint($four) {
    .slide {
      padding: 175px 0 275px;
    }

  }

  img {
    width: (100px /3);
  }

  h2 {
    font-size: (80px /4);
    font-weight: 700;
    line-height: (94px /4);
    margin: 10px 0 (34px /2);
  }

  p {
    font-size: (40px /4);
    font-weight: 700;
    line-height: (80px /4);
    max-width:250px;
    margin: 0 auto;
  }

  @include breakpoint($three) {

    img {
      width: 50px;
    }

    h2 {
      font-size: 40px;
      line-height: 47px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      max-width: 75%;
      width: 800px;
    }
  }
}

.checklist-section {
  .icon-box-container {

    p {
      color: #7c8ea6;
      @include breakpoint($six) {
          font-size: 14px;
      }
    }

    .owl-wrapper-outer {
      overflow: visible !important;
    }
  }
}

.icon-box-top-half {
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  .img-container {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }
}

.icon-box-container {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #7c8ea6;
  padding-bottom: 28px;
  margin-bottom: 34px;
  display: none !important;
  @include breakpoint($three) {
    display: block !important;
  }

  .owl-item {
    cursor: pointer;

  }

  img {
    height: 36px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-container {
    background: url('img/Rectangle.svg');
    background-size: cover;
    display: inline-block;
    width: 62px;
    height: 72px;
    position: relative;
    transition: .5s all;
  }

  .img-container::before {
    transition: .5sec all;
  }

  .synced {
    .img-container {
      background: url('img/active-rectangle.svg');
      background-size: cover;
      width: 87px;
      height: 100px;
      transition: .5sec all;
    }

    .img-container::before {
      content: '';
      border-left: (60px /2) solid transparent;
      border-right: (60px /2) solid transparent;
      border-bottom: 15px solid white;
      position: absolute;
      top: -46px;
      left: 50%;
      transform: translateX(-50%);
      transition: .5sec all;
    }

    h2 {
      color: #e74111;
      transition: .5sec all;
    }
  }


}

.checklist-section {
  background: white;
  padding-top: 15px;
  position: relative;
  margin-top: -70px;

  .check-list {
    width: (921px /4);
    margin-bottom: 0;
    max-width: 1100px;

    @include breakpoint($two) {
      margin: 0 auto;
      padding: 0;
      margin-top: 20px;
    }

    @include breakpoint($three) {
      width: auto;
      margin-bottom: 35px;
      position: relative;
      left: 30px;
      li {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        padding-right: 30px;
      }
    }
  }

  .button {
    margin: (111px /4 - 10) 0 (172px /4);

    @include breakpoint($three) {
        margin-bottom: (172px /3);
    }
  }
}
