/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

h2, h3 {
  font-size: 15px; }

p {
  font-size: 10px;
  letter-spacing: 0.625px;
  line-height: 11.75px; }

.clearfix, .tab-title, .plus, .minus, footer {
  content: "";
  display: table;
  clear: both; }

.grid {
  height: 100%;
  padding: 0 12.75px;
  box-sizing: border-box;
  max-width: 650px;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .grid {
      max-width: 750px; } }
  @media (min-width: 1000px) {
    .grid {
      max-width: 1000px; } }
  @media (min-width: 1200px) {
    .grid {
      max-width: 1200px; } }

html {
  text-align: center;
  color: #102030; }

html, body {
  overflow-x: hidden; }

ul {
  text-align: left; }

.highlight {
  color: #e74111; }

.slanted-section {
  padding-left: 10%;
  margin-left: -10%;
  padding-right: 10%;
  margin-right: -10%;
  -webkit-transform: rotate(2.5deg);
      -ms-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
  overflow: hidden; }
  .slanted-section .inner {
    -webkit-transform: rotate(-2.5deg);
        -ms-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
    padding: 50px 0; }

.margin-bottom {
  margin-bottom: 40px; }

.mobile-top-bar {
  background: -webkit-linear-gradient(top, #F0F0F0, #F8F8F8);
  background: linear-gradient(to bottom, #F0F0F0, #F8F8F8);
  text-align: center;
  padding: 20px 0 10px;
  font-size: 12px; }
  @media (min-width: 500px) {
    .mobile-top-bar {
      display: none; } }

.mobile-logo {
  height: 25.5px;
  margin: 10.3333333333px auto 12.3333333333px auto;
  display: block; }
  @media (min-width: 650px) {
    .mobile-logo {
      height: 59%;
      margin: 0;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.main-menu a, .main-menu a:hover, .main-menu a:visited, .main-menu a:active {
  color: #102030;
  text-decoration: none; }

.main-menu .grid {
  position: relative; }

.main-menu ul {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0; }

@media (min-width: 650px) {
  .main-menu {
    position: fixed;
    width: 100%;
    background: white;
    text-align: left;
    z-index: 3;
    height: 67px; }
    .main-menu ul {
      display: inline-block;
      float: right; } }

.main-menu li {
  display: inline-block;
  padding: 0 3px;
  color: #102030;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.7px;
  padding: 0 10px; }
  @media (min-width: 900px) {
    .main-menu li {
      font-size: 14px; } }
  @media (min-width: 900px) {
    .main-menu li {
      padding: 0 10px; } }

.button {
  background-color: #e74111;
  color: white;
  text-decoration: none;
  padding: 8.5px 15px 9.5px;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 11.5px;
  display: inline-block; }
  @media (min-width: 650px) {
    .button {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 18px;
      padding: 16px 52px; } }

.button-hollow {
  background: none;
  border: 2px solid #e74111;
  color: #e74111; }

.button-white {
  background: white;
  color: #102030; }

ul {
  list-style: none; }
  ul li {
    font-size: 8.75px;
    font-weight: 400;
    line-height: 15px;
    padding-bottom: 10px; }

@media (min-width: 650px) {
  ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; } }

.check-list li, .accordion li {
  position: relative;
  padding-left: 10px;
  overflow: visible; }
  .check-list li:before, .accordion li:before {
    content: '';
    width: 12.5px;
    height: 10px;
    background-image: url("img/check.png");
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 5px; }
  @media (min-width: 650px) {
    .check-list li, .accordion li {
      padding-left: 15px; }
      .check-list li:before, .accordion li:before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 20px;
        left: -20px; } }

.check-list p, .accordion p {
  line-height: 15px;
  font-weight: 300; }

.accordion li:before {
  background-image: url("img/orange-check.png"); }

header {
  background-image: url("img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative; }
  header h1 {
    font-size: 36.25px;
    font-weight: 700;
    display: block;
    padding-top: 42px; }
  header p {
    font-size: 10.5px; }
  header .title {
    position: relative; }
  @media (min-width: 650px) {
    header {
      margin-top: 67px;
      text-align: left; }
      header p {
        margin: 0; }
      header .title {
        position: absolute;
        left: 46%;
        top: 40%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); } }
  @media (min-width: 1000px) {
    header .title h1 {
      padding-top: 0;
      font-size: 60px; }
    header .title p {
      font-size: 23px;
      font-weight: 400;
      letter-spacing: 0.13px;
      line-height: 40px; } }

.cube-png {
  margin-top: 50px;
  position: relative;
  width: 75%;
  max-width: 300px; }
  @media (min-width: 650px) {
    .cube-png {
      display: inline-block;
      max-width: 46%; } }

.texture {
  margin-bottom: -6%;
  margin-top: -12.5%;
  height: 100px; }
  @media (min-width: 450px) {
    .texture {
      height: 100px;
      margin-bottom: -30px;
      margin-top: -70px; } }
  @media (min-width: 650px) {
    .texture {
      height: 150px;
      margin-bottom: -30px; } }
  @media (min-width: 1000px) {
    .texture {
      height: 150px;
      margin-bottom: -30px;
      margin-top: -100px; } }

.cube-wrapper {
  -webkit-perspective: 800px;
          perspective: 800px;
  display: block;
  position: relative;
  display: none; }

.cube {
  margin: 0 auto;
  position: relative;
  width: 125px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(25deg) rotateY(145deg) rotateZ(5deg);
          transform: rotateX(25deg) rotateY(145deg) rotateZ(5deg);
  position: relative; }
  .cube div {
    position: absolute;
    width: 125px;
    height: 125px; }
  .cube p {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase; }
  .cube .back {
    -webkit-transform: translateZ(-100px) rotateY(180deg);
            transform: translateZ(-100px) rotateY(180deg);
    background-image: -webkit-linear-gradient(bottom right, #102030, #4b5763);
    background-image: linear-gradient(to top left, #102030, #4b5763); }
  .cube .right {
    -webkit-transform: rotateY(-270deg) translateX(100px);
            transform: rotateY(-270deg) translateX(100px);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right; }
  .cube .left {
    -webkit-transform: rotateY(270deg) translateX(-100px);
            transform: rotateY(270deg) translateX(-100px);
    -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
            transform-origin: center left;
    background-image: -webkit-linear-gradient(top left, #9facbd, #8393aa);
    background-image: linear-gradient(to bottom right, #9facbd, #8393aa); }
  .cube .top {
    -webkit-transform: rotateX(-90deg) translateY(-100px);
            transform: rotateX(-90deg) translateY(-100px);
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }
  .cube .bottom {
    -webkit-transform: rotateX(-90deg) translateY(100px);
            transform: rotateX(-90deg) translateY(100px);
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
    background-image: -webkit-linear-gradient(bottom left, #ef7d00, #904b00);
    background-image: linear-gradient(to top right, #ef7d00, #904b00); }
  .cube .front {
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px); }

.social-icons {
  background-color: #102030;
  background-image: -webkit-linear-gradient(left, rgba(16, 32, 48, 0.3) 0%, rgba(124, 142, 166, 0.3) 100%);
  background-image: linear-gradient(to right, rgba(16, 32, 48, 0.3) 0%, rgba(124, 142, 166, 0.3) 100%);
  color: #7c8ea6;
  position: relative; }
  .social-icons h2 {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.625px;
    line-height: 11.25px;
    padding-top: 12px; }
  .social-icons ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto; }
    .social-icons ul li {
      display: inline-block;
      padding-bottom: 0; }
  .social-icons img {
    max-height: 15.25px;
    padding: 16.25px 12.875px; }
  @media (min-width: 650px) {
    .social-icons h2 {
      font-size: 12px; }
    .social-icons img {
      max-height: 22px; } }

.features {
  padding-top: 27px; }
  .features h2 {
    font-size: 15px;
    font-weight: 175;
    letter-spacing: 0.75px;
    line-height: 17.75px; }
  .features p {
    color: #7c8ea6;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.625px;
    line-height: 11.25px; }
  .features .circle {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 19.5px; }
  .features ul {
    padding: 0;
    text-align: center;
    margin-top: 20.75px; }
  .features li {
    display: inline-block;
    width: 24%;
    position: relative;
    vertical-align: top; }
    .features li p {
      display: none; }
  .features h3 {
    color: #102030;
    font-size: 10px;
    font-weight: 700;
    line-height: 11.75px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 52.5px;
    margin: 0 auto; }
  .features img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .features li:first-child .circle {
    background-color: #EF7B0A;
    background-color: linear-gradient(to right, #EF7B0A, #ED7103); }
  .features li:nth-child(2) .circle {
    background-color: #EC6C04;
    background-color: linear-gradient(to right, #EC6C04, #EB6107); }
  .features li:nth-child(3) .circle {
    background-color: #EB5D09;
    background-color: linear-gradient(to right, #EB5D09, #E9510C); }
  .features li:nth-child(4) .circle {
    background-color: #EB5D09;
    background-color: linear-gradient(to right, #EB5D09, #E74111); }
  .features .vertnetzt-icon {
    width: 20.25px; }
  .features .dynamisch-icon {
    width: 27.25px; }
  .features .ergebnis-icon {
    width: 23px; }
  .features .lightbulb-icon {
    width: 24.75px; }
  @media (min-width: 650px) {
    .features {
      padding: 54px 0; }
      .features ul {
        margin-top: 41.5px; }
      .features .circle {
        width: 108px;
        height: 108px; }
      .features .vertnetzt-icon {
        width: 40.5px; }
      .features .dynamisch-icon {
        width: 54.5px; }
      .features .ergebnis-icon {
        width: 46px; }
      .features .lightbulb-icon {
        width: 49.5px; }
      .features p {
        font-size: 12px;
        letter-spacing: 0.8333333333px;
        line-height: 10px;
        margin-top: 6px; }
      .features h2 {
        font-size: 20px;
        font-weight: 233.333333333;
        letter-spacing: 1px;
        line-height: 35px; }
      .features h3 {
        color: #102030;
        font-size: 13.3333333333px;
        line-height: 15.6666666667px;
        width: 70px; } }
  @media (min-width: 900px) {
    .features h3 {
      width: auto; }
    .features h2 {
      font-size: 30px;
      font-weight: 350;
      letter-spacing: 1.5px;
      line-height: 35px; }
    .features h3 {
      color: #102030;
      font-size: 20px;
      line-height: 23.5px; }
    .features p {
      letter-spacing: 1.25px;
      line-height: 18px;
      margin-top: 6px; }
    .features .title p {
      font-size: 16px; }
    .features li p {
      padding: 0 5px;
      box-sizing: border-box; } }
  @media (min-width: 1000px) {
    .features li p {
      display: block; } }

.map {
  height: 325px;
  margin-left: -15%;
  margin-right: -15%;
  margin-bottom: -30px; }
  .map .inner {
    padding-top: 0;
    margin-top: -30px;
    height: 110%; }
  @media (min-width: 650px) {
    .map {
      height: 400px; } }
  @media (min-width: 1200px) {
    .map {
      height: 480px; } }

#map-inner {
  height: 100%; }

.orange {
  background-color: #e74111;
  background-image: -webkit-linear-gradient(left, #ef7d00 0%, #e74111 100%);
  background-image: linear-gradient(to right, #ef7d00 0%, #e74111 100%);
  color: white; }
  .orange h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 29.5px; }
  .orange p {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px; }
  .orange .cube-hand {
    display: none; }
  .orange .text {
    max-width: 450px;
    margin: 0 auto; }
  @media (min-width: 650px) {
    .orange h2 {
      font-size: 50px;
      letter-spacing: 2.5px;
      line-height: 59px; }
    .orange p {
      font-size: 13.3333333333px;
      line-height: 26.6666666667px;
      margin-bottom: 26.6666666667px; } }
  @media (min-width: 1000px) {
    .orange .text {
      max-width: none;
      width: 50%;
      margin: 0;
      margin-right: 5%;
      text-align: left; }
    .orange .cube-hand {
      display: inline-block;
      width: 45%;
      margin-top: -55px;
      margin-bottom: -20px; }
    .orange .text, .orange .cube-hand {
      float: left; } }
  @media (min-width: 1200px) {
    .orange .text {
      margin-top: 0px; }
    .orange .cube-hand {
      margin-bottom: -30px; } }

.team {
  margin-top: -10px;
  margin-bottom: 35px; }
  .team .inner, .team .grid {
    padding: 0; }
    @media (min-width: 650px) {
      .team .inner, .team .grid {
        padding: 15px 0 0; } }
  .team h2 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.9375px;
    line-height: 17.25px;
    color: #102030; }
    @media (min-width: 650px) {
      .team h2 {
        font-size: 16px; } }
  .team ul {
    margin: 0;
    padding: 24.25px 0;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
    margin-bottom: -20px; }
    @media (min-width: 650px) {
      .team ul {
        overflow-x: visible; } }
  .team .mobile-only .teammate {
    width: 35%;
    display: inline-block; }
    .team .mobile-only .teammate:first-child {
      padding-left: 20px; }
    @media (min-width: 450px) {
      .team .mobile-only .teammate {
        width: 30%; } }
  .team #owl-slider {
    padding: 40px 0; }
    @media (max-width: 650px) {
      .team #owl-slider {
        display: none !important; } }
    .team #owl-slider .owl-next, .team #owl-slider .owl-prev {
      position: absolute;
      background: none;
      width: 15px;
      top: 32%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (min-width: 1000px) {
        .team #owl-slider .owl-next, .team #owl-slider .owl-prev {
          top: 35%; } }
    .team #owl-slider .owl-next {
      right: -30px; }
    .team #owl-slider .owl-prev {
      left: -30px; }
    @media (min-width: 1200px) {
      .team #owl-slider .owl-next {
        right: 0; }
      .team #owl-slider .owl-prev {
        left: 0; } }
  .team .teammate img {
    width: 70px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px; }
    @media (min-width: 650px) {
      .team .teammate img {
        width: 100px; } }
    @media (min-width: 750px) {
      .team .teammate img {
        width: 125px; } }
  .team .teammate h3 {
    color: #e74111;
    font-size: 12.5px;
    font-weight: 700;
    line-height: 14.75px; }
  .team .teammate p {
    color: #7c8ea6;
    font-size: 7.5px;
    font-weight: 400;
    line-height: 10px;
    margin: 3px 0;
    white-space: normal; }
  .team .teammate h3, .team .teammate p, .team .teammate img {
    text-align: center; }
  @media (min-width: 650px) {
    .team .teammate h3 {
      font-size: 18px;
      line-height: 21px; }
    .team .teammate p {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; } }
  @media (min-width: 650px) {
    .team .mobile-only {
      display: none; } }

.was-wir {
  background-color: #e6e6e6;
  margin-bottom: 0; }
  .was-wir .inner {
    padding: 25px 0; }
  .was-wir h2 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 17.25px; }
    @media (min-width: 650px) {
      .was-wir h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 35px; } }

.business-intelligence {
  margin-top: 0;
  color: white;
  padding: 0; }
  @media (max-width: 650px) {
    .business-intelligence .owl-buttons {
      display: none !important; } }
  .business-intelligence .owl-buttons div {
    background: none !important;
    position: absolute;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (min-width: 1000px) {
      .business-intelligence .owl-buttons div {
        width: 25px; } }
  .business-intelligence .owl-buttons .owl-prev {
    left: 90px; }
  .business-intelligence .owl-buttons .owl-next {
    right: 90px; }
  @media (min-width: 900px) {
    .business-intelligence .owl-buttons .owl-prev {
      left: 120px; }
    .business-intelligence .owl-buttons .owl-next {
      right: 120px; } }
  @media (min-width: 1200px) {
    .business-intelligence .owl-buttons .owl-prev {
      left: 150px; }
    .business-intelligence .owl-buttons .owl-next {
      right: 150px; } }
  .business-intelligence .owl-theme .owl-controls .owl-pagination {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (min-width: 750px) {
      .business-intelligence .owl-theme .owl-controls .owl-pagination {
        bottom: 125px; } }
  .business-intelligence .owl-theme .owl-controls .owl-page {
    height: 14px;
    margin-top: 47.5px; }
    .business-intelligence .owl-theme .owl-controls .owl-page span {
      width: 8.5px;
      height: 10px;
      background: none;
      background-image: url("img/inactive-hexa.png");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .business-intelligence .owl-theme .owl-controls .owl-page.active span {
    width: 14px;
    height: 16px;
    background-image: url("img/active-hexa.png"); }
  .business-intelligence .inner {
    height: 100%;
    margin-top: -20px;
    padding: 0; }
  .business-intelligence .slide {
    padding: 100px 0 150px; }
  @media (min-width: 750px) {
    .business-intelligence .slide {
      padding: 150px 0 200px; }
    .business-intelligence .inner {
      margin-top: -30px; } }
  @media (min-width: 750px) {
    .business-intelligence .slide {
      padding: 175px 0 275px; } }
  .business-intelligence img {
    width: 33.3333333333px; }
  .business-intelligence h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.5px;
    margin: 10px 0 17px; }
  .business-intelligence p {
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    max-width: 250px;
    margin: 0 auto; }
  @media (min-width: 650px) {
    .business-intelligence img {
      width: 50px; }
    .business-intelligence h2 {
      font-size: 40px;
      line-height: 47px; }
    .business-intelligence p {
      font-size: 20px;
      line-height: 30px;
      max-width: 75%;
      width: 800px; } }

.checklist-section .icon-box-container p {
  color: #7c8ea6; }
  @media (min-width: 1000px) {
    .checklist-section .icon-box-container p {
      font-size: 14px; } }

.checklist-section .icon-box-container .owl-wrapper-outer {
  overflow: visible !important; }

.icon-box-top-half {
  height: 100px;
  margin-bottom: 10px;
  position: relative; }
  .icon-box-top-half .img-container {
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.icon-box-container {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #7c8ea6;
  padding-bottom: 28px;
  margin-bottom: 34px;
  display: none !important; }
  @media (min-width: 650px) {
    .icon-box-container {
      display: block !important; } }
  .icon-box-container .owl-item {
    cursor: pointer; }
  .icon-box-container img {
    height: 36px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .icon-box-container .img-container {
    background: url("img/Rectangle.svg");
    background-size: cover;
    display: inline-block;
    width: 62px;
    height: 72px;
    position: relative;
    -webkit-transition: .5s all;
    transition: .5s all; }
  .icon-box-container .img-container::before {
    -webkit-transition: .5sec all;
    transition: .5sec all; }
  .icon-box-container .synced .img-container {
    background: url("img/active-rectangle.svg");
    background-size: cover;
    width: 87px;
    height: 100px;
    -webkit-transition: .5sec all;
    transition: .5sec all; }
  .icon-box-container .synced .img-container::before {
    content: '';
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -46px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .5sec all;
    transition: .5sec all; }
  .icon-box-container .synced h2 {
    color: #e74111;
    -webkit-transition: .5sec all;
    transition: .5sec all; }

.checklist-section {
  background: white;
  padding-top: 15px;
  position: relative;
  margin-top: -70px; }
  .checklist-section .check-list {
    width: 230.25px;
    margin-bottom: 0;
    max-width: 1100px; }
    @media (min-width: 500px) {
      .checklist-section .check-list {
        margin: 0 auto;
        padding: 0;
        margin-top: 20px; } }
    @media (min-width: 650px) {
      .checklist-section .check-list {
        width: auto;
        margin-bottom: 35px;
        position: relative;
        left: 30px; }
        .checklist-section .check-list li {
          width: 49%;
          display: inline-block;
          box-sizing: border-box;
          padding-right: 30px; } }
  .checklist-section .button {
    margin: 17.75px 0 43px; }
    @media (min-width: 650px) {
      .checklist-section .button {
        margin-bottom: 57.3333333333px; } }

.sap-aus {
  background-image: url("img/river.jpg");
  background-size: cover;
  color: white; }
  .sap-aus .grid {
    max-width: none; }
  .sap-aus h2 {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.5px; }
  .sap-aus p {
    font-size: 10px;
    font-weight: 700;
    line-height: 11.75px;
    margin-bottom: 26.5px; }
  .sap-aus .grid {
    padding: 0; }
  @media (min-width: 650px) {
    .sap-aus .inner {
      padding: 75px 0; }
    .sap-aus .badge-container {
      margin-top: 50px; }
    .sap-aus h2 {
      width: auto;
      font-size: 30px; }
    .sap-aus p {
      font-size: 15px; } }
  @media (min-width: 1000px) {
    .sap-aus .inner {
      padding: 100px 0; }
    .sap-aus h2 {
      font-size: 50px;
      line-height: 59px; }
    .sap-aus p {
      font-size: 20px;
      line-height: 24px;
      margin: 5px 0; } }

.badge-container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 25px;
  text-align: center; }

.badge {
  position: relative;
  background-image: url("img/badge.png");
  background-size: cover;
  width: 195px;
  height: 229.75px;
  padding-top: 85px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 20px; }
  .badge:first-child {
    margin-left: 0; }
  .badge:last-child {
    margin-right: 0; }
  .badge h3 {
    color: #e74111;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 17.75px; }
  .badge p {
    font-size: 8.75px;
    font-weight: 400;
    line-height: 16.25px;
    letter-spacing: 0.25px;
    width: 125px;
    margin: 0 auto;
    color: black;
    margin-top: 8.5px;
    white-space: normal; }
  .badge .icon {
    width: 28.75px;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .badge .target-icon {
    top: 16px; }
  .badge .handshake-icon {
    width: 35px;
    top: 22px; }
  @media (min-width: 650px) {
    .badge {
      width: 312px;
      height: 273.6px;
      background-image: url("img/badge-bg-large.png"); }
      .badge h3 {
        font-size: 20px;
        letter-spacing: 1.3333333333px;
        line-height: 23.6666666667px;
        margin-top: 15px; }
      .badge p {
        font-size: 11.6666666667px;
        line-height: 21.6666666667px;
        letter-spacing: 0.3333333333px;
        width: 166.666666667px;
        margin-top: 11.3333333333px;
        width: 65%; }
      .badge .icon {
        width: 28.75px;
        top: 22.5px; }
      .badge .target-icon {
        top: 20px; }
      .badge .handshake-icon {
        width: 35px;
        top: 27px; } }
  @media (min-width: 900px) {
    .badge {
      width: 339.130434783px;
      height: 297.391304348px; } }
  @media (min-width: 1000px) {
    .badge {
      width: 371.428571429px;
      height: 325.714285714px; }
      .badge h3 {
        margin-top: 30px; }
      .badge p {
        font-size: 13px;
        letter-spacing: 0.87px;
        line-height: 24px; }
      .badge .icon {
        width: 36px;
        top: 26px; }
      .badge .target-icon {
        top: 23px; }
      .badge .handshake-icon {
        width: 51px;
        top: 30px; } }
  @media (min-width: 1200px) {
    .badge {
      width: 390px;
      height: 342px; } }

.vetrauen {
  background-image: url("img/lax.jpg");
  background-size: cover;
  background-position: center;
  color: white; }
  .vetrauen h2 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 23.5px; }
  .vetrauen p {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.625px;
    line-height: 11.75px;
    margin: 0 0 20.75px; }
  @media (min-width: 650px) {
    .vetrauen h2 {
      font-size: 26.6666666667px;
      letter-spacing: 1.3333333333px;
      line-height: 31.3333333333px; }
    .vetrauen p {
      font-size: 13.3333333333px;
      font-weight: 700;
      letter-spacing: 0.8333333333px;
      line-height: 15.6666666667px;
      margin: 5px 0 27.6666666667px; } }
  @media (min-width: 900px) {
    .vetrauen {
      background-image: url("img/lax-desktop.jpg");
      padding: 30px 0; }
      .vetrauen h2 {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 47px; }
      .vetrauen p {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.25px;
        line-height: 23.5px;
        margin: 5px 0 41.5px; } }

.posts-section {
  margin-bottom: 27.25px; }
  .posts-section h2 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 17.75px; }
  .posts-section p {
    font-size: 8.75px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 15px;
    width: 250px;
    margin: 9.25px auto;
    color: #7c8ea6; }
  @media (min-width: 650px) {
    .posts-section .grid {
      padding: 30px 0 20px; }
    .posts-section h2 {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 23.6666666667px; }
    .posts-section p {
      font-size: 11.6666666667px;
      letter-spacing: 0.3333333333px;
      line-height: 20px;
      width: 333.333333333px;
      margin: 12.3333333333px auto; } }
  @media (min-width: 750px) {
    .posts-section .grid {
      padding: 40px 0 10px; }
    .posts-section h2 br {
      display: none; } }
  @media (min-width: 900px) {
    .posts-section .grid {
      padding: 60px 0 20px; }
    .posts-section h2 {
      font-size: 30px;
      letter-spacing: 3px 23;
      line-height: 35.5px; }
    .posts-section p {
      width: 700px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 28px; } }
  @media (min-width: 1000px) {
    .posts-section p {
      width: 800px; } }
  @media (min-width: 1200px) {
    .posts-section p {
      width: 1000px; } }

@media (max-width: 650px) {
  .slider {
    display: block !important;
    height: 300px;
    width: 800px;
    overflow: auto;
    white-space: nowrap; } }

.slider .owl-controls .owl-buttons div {
  background: none;
  width: 50px;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (min-width: 1000px) {
    .slider .owl-controls .owl-buttons div {
      width: 85px; } }

.slider .owl-controls .owl-buttons .owl-prev {
  left: -15px; }

.slider .owl-controls .owl-buttons .owl-next {
  right: -15px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg); }

.post {
  float: left;
  position: relative;
  width: 195px;
  height: 150px;
  position: relative;
  white-space: normal; }
  .post .title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .post h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 23.5px; }
  .post p {
    color: white;
    font-weight: 700; }

.wide-post {
  width: 310.5px; }

.inset-border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white; }

.play-icon {
  width: 30px;
  height: 35px; }

@media (min-width: 450px) {
  .post {
    width: 390px;
    height: 300px; }
    .post .title {
      width: 75%; }
  .wide-post {
    width: 800px; }
  .inset-border {
    border: 5px solid white; }
  .post:first-child .inset-border {
    border-left: none; }
  .post:last-child .inset-border {
    border-right: none; } }

@media (min-width: 650px) {
  .post img {
    width: 60px;
    height: 70px; }
  .post h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2.5px;
    line-height: 27px; }
  .post p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px; } }

@media (min-width: 1000px) {
  .post h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    line-height: 47px; }
  .post p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px; } }

@media (min-width: 450px) {
  .accordion-section {
    padding: 20px 0; } }

@media (min-width: 900px) {
  .accordion-section {
    padding: 58px 0; } }

.accordion-section .grid > div:first-child {
  display: none; }
  .accordion-section .grid > div:first-child h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 20px;
    margin-top: 18px; }

@media (min-width: 900px) {
  .accordion-section .grid {
    width: 100%;
    content: "";
    display: table;
    clear: both; }
    .accordion-section .grid > div:first-child {
      display: block;
      text-align: right;
      width: 23.7288135593%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    .accordion-section .grid > div:nth-child(2) {
      width: 74.5762711864%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      .accordion-section .grid > div:nth-child(2) h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px; } }

@media (min-width: 1000px) {
  .accordion-section .grid > div:first-child h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 20px;
    margin-top: 10px; } }

.accordion-section ul {
  padding-left: 20px; }

.accordion-section h3 {
  font-style: italic;
  font-weight: 300; }

@media (min-width: 900px) {
  .accordion-section h3 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400; }
  .accordion-section p, .accordion-section li {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; } }

.minus, .tab-content {
  display: none; }

.tab {
  border-bottom: 1px solid rgba(16, 32, 48, 0.2); }

.tab-title {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 18.75px 0; }
  .tab-title h2 {
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 10.7075px; }

.plus, .minus {
  position: absolute;
  right: 0;
  top: 15px; }

.tab-content {
  text-align: left; }

.tab-section {
  margin-bottom: 35px; }

footer {
  background-color: #102030;
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  position: relative;
  width: 100%; }
  footer a, footer a:visited, footer a:active, footer a:hover {
    color: white;
    text-decoration: none; }
  footer p {
    margin: 0;
    padding: 13px 0; }

.footer-menu {
  display: none; }

@media (min-width: 900px) {
  footer p, footer li {
    text-align: left;
    font-size: 16px;
    line-height: 30px; }
  footer .footer-menu li, footer .footer-menu {
    display: inline-block; }
  footer p {
    float: left; }
  footer .footer-menu {
    float: right; }
    footer .footer-menu li {
      padding: 0 5px; }
      footer .footer-menu li:last-child {
        padding-left: 30px; } }

.contact {
  background-image: url("img/contact-bg.jpg");
  background-size: cover;
  color: white;
  margin-bottom: -20px; }
  .contact h2 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 17.75px; }
  .contact form {
    background: white;
    overflow-x: hidden;
    padding: 5px 9.25px 10px;
    box-sizing: border-box;
    margin-top: 35.25px;
    position: relative; }
    .contact form .input {
      width: 100%; }
    .contact form .input, .contact form .captcha {
      border: none;
      font-style: italic;
      font-size: 10px;
      line-height: 37.5px;
      outline: none;
      border-bottom: 1px solid rgba(16, 32, 48, 0.2); }
    .contact form .captcha {
      float: left; }
    .contact form .submit {
      float: right;
      background-color: #d8dde5;
      border: none;
      color: white;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 11.5px;
      padding: 9.25px 28.25px;
      position: absolute;
      bottom: 10px;
      right: 7px; }
  .contact section:first-child {
    display: none; }
  @media (min-width: 900px) {
    .contact {
      padding: 43.75px 0 100px;
      margin-bottom: -40px; }
      .contact section:first-child {
        display: block;
        width: 44.9152542373%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none;
        text-align: left; }
        .contact section:first-child h2 {
          font-size: 20px;
          letter-spacing: 1.5px;
          line-height: 35px;
          margin-top: 10px; }
        .contact section:first-child p {
          font-size: 14px;
          line-height: 25px; }
        .contact section:first-child .contact-info {
          margin-top: 20px; }
      .contact section:last-child {
        width: 49.1525423729%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
        .contact section:last-child > h2 {
          display: none; }
        .contact section:last-child form {
          margin-top: 0; }
        .contact section:last-child textarea {
          height: 200px; }
        .contact section:last-child .contact-info {
          display: none; } }
  @media (min-width: 1000px) {
    .contact section:first-child h2 {
      font-size: 30px;
      letter-spacing: 1.5px;
      line-height: 35px; }
    .contact section:first-child p {
      font-size: 16px;
      line-height: 30px; }
    .contact section:first-child li {
      font-size: 20px;
      line-height: 40px; }
      .contact section:first-child li img {
        width: 19px; } }

.contact-info {
  color: #96c6ff;
  padding: 0;
  margin: 29.25px 0 0;
  display: inline-block; }
  .contact-info li {
    font-size: 15.5px;
    font-weight: 400;
    line-height: 32.5px; }
  .contact-info img {
    width: 12.5px;
    padding-right: 12.25px; }
/*# sourceMappingURL=style.css.map */